.button {
    -fx-padding: 5 7 9 7;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
	linear-gradient(from 0% 93% to 0% 100%, #7d5d3b 0%, #634b30 100%),
        #7d5d3b,
        #634b30,
        radial-gradient(center 50% 50%, radius 100%, #7d5d3b, #634b30);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
    -fx-font-size: 1.1em;
    -fx-text-base-color: #EEE8AA;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button:pressed {
    -fx-padding: 5 7 9 7;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button:focused {
    -fx-text-base-color: #FFFFFF;
    -fx-effect: dropshadow( gaussian , rgba(249, 255, 253, 0.74), 0,0,0,1 );
}